:root {
  --primary: hsl(25, 97%, 53%);
  --primary-disabled:  hsl(25, 60%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(215, 18%, 64%);
  --medium-grey: hsl(215 18% 24%); 
  --dark-blue: hsl(215, 18%, 16%);
  
  --very-dark-blue: hsl(215, 18%, 8%);
  --mobile: 375px;
  --desktop: 1440px;
}